{{ block footer() }}
<footer class="footer">
    <div class="container-fluid">
        <div class="float-left">
          © 2020 <a href="https://clevergo.tech" target="_blank">CleverGo</a>
        </div>
        <div class="float-right">
          Powered by <a href="https://github.com/razonyang/go-auth0-web-app" target="_blank">Go Auth0 Web Application</a>
        </div>
        <div class="clearfix"></div>
    </div>
  </footer>
{{ end }}