{{ extends "/layouts/main.tmpl" }}

{{ block body() }}
<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Go Auth0 Web Application</h1>
      <p class="lead text-muted">Auth0 Integration Samples for Go Web Applications</p>
      <p>
        <a href="https://github.com/razonyang/go-auth0-web-app" class="btn btn-primary btn-lg" target="_blank">GitHub</a>
      </p>
    </div>
</section>
{{ end }}